footer.footer
  .container.grid.grid--footer
    .logo-col
      a.footer-logo(href='#')
        img.logo(src='img/logo_size.jpg' alt='omnifood logo')
      ul.social-links
        li
          a.footer-link(href='#')
            ion-icon.social-icon(name='logo-instagram')
        li
          a.footer-link(href='#')
            ion-icon.social-icon(name='logo-facebook')
        li
          a.footer-link(href='#')
            ion-icon.social-icon(name='logo-twitter')
      p.copyright
        | copyright &copy; 
        span.year 2027
        |  by Dream Tours, Inc. All right reserved
    .address-col
      p.footer-heading Contact use
      address.contacts
        p.address
          | Carwash Kisumu.
        p
          a.footer-link(href='tel:415-201-6370') 415-201-6370
          br
          a.footer-link(href='mailto:hello@dreamtours.com') hello@dreamtours.com
    nav.nav-col
      p.footer-heading Account
      ul.footer-nav
        li
          a.footer-link(href='#') Create account
        li
          a.footer-link(href='#') Sign in
        li
          a.footer-link(href='#') iOS app
        li
          a.footer-link(href='#') Android app
    nav.nav-col
      p.footer-heading Company
      ul.footer-nav
        li
          a.footer-link(href='#') About Dream Tours
        // <li><a class="footer-link" href="#">For Business</a></li>
        li
          a.footer-link(href='#') Our Partners
        li
          a.footer-link(href='#')
            | Careers
            a
    nav.nav-col
      p.footer-heading Resources
      ul.footer-nav
        li
          a.footer-link(href='#') Tour directory
        li
          a.footer-link(href='#') Help center
        li
          a.footer-link(href='#') Privacy &amp; terms
