header.header
  a(href='#')
    img.logo(src='img/logo_size.jpg' alt='omnifood logo')
  nav.main-nav
    ul.main-nav-list
      li
        a.main-nav-link(href='#how') How it works
      li
        a.main-nav-link(href='#meals') Packages
      li
        a.main-nav-link(href='#testimonials') Testimonials
      
      if(user) 
        li
          button.main-nav-link.logout Log out
        li
          a.main-nav-link.loggedin(href='#') 
            img(class="nav-user-photo" src=`img/users/${user.photo}`, alt=`Photo of ${user.name}`)
            span=`Hi ${user.name.split(' ')[0]}.`

      else
        li
          a.main-nav-link(href='/login') Log in
        li
          a.main-nav-link.nav-cta(href='#cta') Sign up
  button.btn-mobile-nav
    ion-icon.icon-mobile-nav(name='menu-outline')
    ion-icon.icon-mobile-nav(name='close-outline')