extends base

block content 
    main
        .container
            .log-in-form
                span.subheading  Reset Password
                .form-container
                    form.acc-setting-form.log-in
                        div
                            label(for='email') Enter the email address associated with your account and we'll send you a link to reset your password.
                            input#email(type='password' placeholder='you@example.com' required='' minlength='8')
                        
                    .log-in-btn
                        button.btn Send reset link
